[Unit]
Description=Run LEO Tracker retention periodically

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=leo-retention.service

[Install]
WantedBy=timers.target
